
body{
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #0F1923;
    display: flex;
    align-items: center;
    justify-content: center;
}
.spin{
    transition: 0.2s ease-in-out;
}

.um{
    transition: 9s ease-in-out;
    transform: rotate(4920deg);
}

.dois{
    transition: 9s ease-in-out;
    transform: rotate(4860deg);
}

.tres{
    transition: 9s ease-in-out;
    transform: rotate(4080deg);
}

.quatro{
    transition: 9s ease-in-out;
    transform: rotate(5040deg);
}

.cinco{
    transition: 9s ease-in-out;
    transform: rotate(5100deg);
}

.seis{
    transition: 9s ease-in-out;
    transform: rotate(5160deg);
}

.btn{
    cursor: pointer;
    transition: 0.5s ease-in-out;
    position: relative;
    bottom: -200px;
}.btn:hover{
    transform: scale(90%);
    transition: 0.2s ease-in;
}

.spintest{
    display: flex;
    align-items: center;
}

.win{
    position: fixed;
    top: calc(50vh - height);
    left: calc(50vw - width);
    color: #F12C4C;
    font-family: Shrikhand;
    font-size: 200px;
    z-index: 5;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 0px 0px 100px #D06879;
}

.winn{
    transition-delay: 2s;
    transition: 0.5s ease-in-out;
    opacity: 0;
}

.winm{
    transition: 0.2s ease-in-out;
    opacity: 5;
}