.spin{
    transition: 0.2s ease-in-out;
}

.um{
    transition: 9s ease-in-out;
    transform: rotate(4920deg);
}

.dois{
    transition: 9s ease-in-out;
    transform: rotate(4860deg);
}

.tres{
    transition: 9s ease-in-out;
    transform: rotate(4080deg);
}

.quatro{
    transition: 9s ease-in-out;
    transform: rotate(5040deg);
}

.cinco{
    transition: 9s ease-in-out;
    transform: rotate(5100deg);
}

.seis{
    transition: 9s ease-in-out;
    transform: rotate(5160deg);
}

.button{
    width: 225px;
    height: 175px;
    flex-shrink: 0;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    position: relative;
    border-radius: 10px 60px 60px 10px;
    height: 5rem;
    color: #F7F7F7;
    text-align: center;
    font-family: Shrikhand;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; /* 175% */
    letter-spacing: 2px;
}

.spintest{
    display: flex;
    align-items: center;
}

.win{
    position: fixed;
    top: calc(50vh - height);
    left: 35vw;
    color: #F12C4C;
    font-family: Shrikhand;
    font-size: 200px;
    z-index: 5;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 0px 0px 100px #D06879;
}

.winn{
    transition-delay: 2s;
    transition: 0.5s ease-in-out;
    opacity: 0;
}

.winm{
    transition: 0.2s ease-in-out;
    opacity: 5;
}


.porc{
    cursor: pointer;
    background: #252F38;
    width: 340px;
    height: 78px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Shrikhand;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; /* 155.556% */
}

.porc-de-vitoria{
    cursor: auto;
}

.em{
   background-color: #F12C4C; 
}

.cqa{
    fill: #F12C4C;
}

.mena{
    fill: #04D47C;
}